:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #101316;
  color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
}

@font-face {
  font-family: "Orbitron";
  src: url("/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* Variable font supports multiple weights */
  font-style: normal;
}
